*{
    margin: 0;
    padding: 0;
   
}

.element{
    padding: 10px;
    margin: 10px;
}
body{
    margin-left: 550px;
    margin-top: 230px;
}
.content{
    background-color: rgb(199, 191, 191);
    width: 400px;
    padding: 5px;
    
   
}
 .element-1{
    border-left:  5px solid rgb(208, 21, 149) ;
   
   
}
.element-2{
   background-color: white;
   color: white;
}
.element-3{
    border-left:  5px solid rgb(12, 191, 167) ;
    
}
