.content {
    background-color: rgb(142, 23, 23);
    color: white;
    padding: 10px;
    height: 50px;
    margin: 10px;

}
.div-1{
    width: 100px;
}
.div-2{
    width: 200px;
}
.div-3{
    width: 300px;
}
.div-4{
    width: 400px;
    overflow: hidden;
}
.p-1{
    text-transform: uppercase; 
    font-size: 35px;
}
.p-2{
    font-size:25px ;

}
.p-3{
    text-transform: lowercase;
    font-size: 20px;
}
.container-1{
    background-color: rgb(203, 197, 190);
    width: 400px;
    margin: 10px;
    padding: 10px;
}
.container-2 {
    width: 400px; 
    display: inline-block;  
    white-space: nowrap;
    overflow: hidden; 
    background-color: rgb(203, 197, 190);
    width: 400px;
    margin: 10px;
    padding: 10px;



  }

.container-3 {
    width: 400px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    background-color: rgb(203, 197, 190);
    width: 400px;
    margin: 10px;
    padding: 10px;
  }